.parent {
    padding: 10px;
    background-color: red;
}

.children-1 {
    float: left;
    width: 200px;
    height: 50px;
    background-color: green;
}

.children-2 {
    float: left;
    width: 200px;
    height: 50px;
    background-color: yellow;
}

.clearfix::after {
    content: '';
    clear: both;
    display: table;
}
