html,
body {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Aleo', Georgia, 'Times New Roman', Times, serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-family: 'Aleo', Georgia, 'Times New Roman', Times, serif;
    margin: 0;
}

h2 {
    font-size: 22px;
}
h3 {
    font-size: 20px;
}

.wrapper {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 20px;
}


/* start header */
.header {
    height: 110px;
}

.header__wrapper {
    display: flex;
    justify-content: space-between;
}

.logo {
    margin-top: 40px;
}

.menu {
    font-size: 14px;
    margin-top: 48px;
}

.menu-block {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.menu-item + .menu-item {
    margin-left: 46px;
}

.menu-item__link {
    color: inherit;
    text-decoration: none;
}

@media all and (min-width: 479px) and (max-width: 598px) {
    .menu-item + .menu-item {
        margin-left: 20px;
    }
}

@media all and (max-width: 478px) {
    .header {
        height: auto;
    }

    .menu {
        margin: 18px 0;
    }

    .menu-block {
        flex-direction: column;
    }

    .menu-item + .menu-item {
        margin-left: 0;
        margin-top: 18px;
    }
}
/* end header */

/* start main */
.main {
    /* background-color: greenyellow; */
}

/* start block-1*/
.block-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 110px - 4vh);
    background-image: url('../img/resto-billboard.jpg');
    background-size: cover;
    background-position: center center;
    color: #fff;
    text-align: center;
}
.block-1__title {
    font-size: 100px;
    font-family: 'WC Mano Negra Bta';
}
.block-1__item::before,
.block-1__item::after {
    content: '';
    position: relative;
    top: -3px;
    display: inline-block;
    width: 40px;
    height: 1px;
    background-color: #fff;
}
.block-1__item::before {
    margin-right: 20px;
}
.block-1__item::after {
    margin-left: 20px;
}
/* end block-1 */

/* start block-2 */
.block-2 {
    min-height: calc(100vh - 4vh);
    border-top: 4px solid #f34949;
}
.menu-name {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 156px;
    height: 61px;
    margin: 0 auto;
    padding-bottom: 9px;
    background-color: #f34949;
    color: #fff;
}
.menu-name::after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 0;
    height: 0;
    border-bottom: 9px solid #fff;
    border-left: 78px solid transparent;
    border-right: 78px solid transparent;
}
.menu-list {
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
}
.menu-list__column {
    width: 47.3%;
}
.menu-list__column + .menu-block__column {
    margin-left: 5.4%;
}
.menu-list-item {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    color: #555;
}
.menu-description__subtitle {
    font-size: 12px;
    font-weight: 300;
    font-style: italic;
    color: #b7b7b7;
}
.menu-list-item__separator {
    flex-grow: 1;
    margin-left: 26px;
    margin-right: 40px;
    padding-top: 10px;
    border-bottom: 1px solid #e3e1e1;
}
/* end block-2 */




/* end main */


