html,
body {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Aleo', Georgia, 'Times New Roman', Times, serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-family: 'Aleo', Georgia, 'Times New Roman', Times, serif;
    margin: 0;
}

h2 {
    font-size: 22px;
}
h3 {
    font-size: 20px;
}

.wrapper {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 20px;
}


/* start header */
.header {
    height: 110px;
}

.header__wrapper {
    display: flex;
    justify-content: space-between;
}

.logo {
    margin-top: 40px;
}

.menu {
    font-size: 14px;
    margin-top: 48px;
}

.menu-block {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.menu-item + .menu-item {
    margin-left: 46px;
}

.menu-item__link {
    color: inherit;
    text-decoration: none;
}

@media all and (min-width: 479px) and (max-width: 598px) {
    .menu-item + .menu-item {
        margin-left: 20px;
    }
}

@media all and (max-width: 478px) {
    .header {
        height: auto;
    }

    .menu {
        margin: 18px 0;
    }

    .menu-block {
        flex-direction: column;
    }

    .menu-item + .menu-item {
        margin-left: 0;
        margin-top: 18px;
    }
}
/* end header */

/* start main */
.main {
    /* background-color: greenyellow; */
}

/* start block-1*/
.block-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 110px - 4vh);
    background-image: url('../img/resto-billboard.jpg');
    background-size: cover;
    background-position: center center;
    color: #fff;
    text-align: center;
}
.block-1__title {
    font-size: 100px;
    font-family: 'WC Mano Negra Bta';
}
.block-1__item::before,
.block-1__item::after {
    content: '';
    position: relative;
    top: -3px;
    display: inline-block;
    width: 40px;
    height: 1px;
    background-color: #fff;
}
.block-1__item::before {
    margin-right: 20px;
}
.block-1__item::after {
    margin-left: 20px;
}
/* end block-1 */

/* start block-2 */
.block-2 {
    min-height: calc(100vh - 4vh - 50px);
    padding-bottom: 50px;
    border-top: 4px solid #f34949;
}
.menu-name {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 156px;
    height: 61px;
    margin: 0 auto;
    padding-bottom: 9px;
    background-color: #f34949;
    color: #fff;
}
.menu-name::after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 0;
    height: 0;
    border-bottom: 9px solid #fff;
    border-left: 78px solid transparent;
    border-right: 78px solid transparent;
}
.menu-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 80px;
}
.menu-list-item {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 47.3%;
    margin-bottom: 50px;
    color: #555;
}
/*.menu-list-item:nth-of-type(n+3) {*/
    /*margin-top: 50px;*/
/*}*/
.menu-description__subtitle {
    font-size: 12px;
    font-weight: 300;
    font-style: italic;
    color: #b7b7b7;
}
.menu-list-item__separator {
    flex-grow: 1;
    margin-left: 26px;
    margin-right: 40px;
    padding-top: 10px;
    border-bottom: 1px solid #e3e1e1;
}
.load-more {
    display: block;
    /*margin: 90px auto 0;*/
    margin: 40px auto 0;
    padding: 8px 14px;
    border: 1px solid #b7b7b7;
    background-color: transparent;
    color: #b7b7b7;
}
.load-more__arrow {
    position: relative;
    top: 1px;
    display: inline-block;
    width: 18px;
    height: 12px;
    margin-left: 10px;
    border-left: 1px solid #b7b7b7;
}
.load-more__arrow::before,
.load-more__arrow::after {
    content: '';
    position: absolute;
    top: 6px;
    right: 0;
    display: block;
    width: 7px;
    height: 1px;
    background-color: #b7b7b7;
}
.load-more__arrow::before {
    transform: rotate(-45deg);
}
.load-more__arrow::after {
    right: 5px;
    transform: rotate(45deg);
}
/* end block-2 */

/* start block-3 */
/*.block-3 {*/
    /*margin-top: 200px;*/
/*}*/
.slider-dishes {
    display: flex;
    justify-content: space-between
}
.slider-dishes__title {
    display: flex;
    align-items: center;
    color: #3b3b3b;
    text-transform: uppercase;
}
.slider-dishes__title::after {
    content: '';
    display: inline-block;
    width: 200px;
    height: 1px;
    margin-left: 16px;
    background-color: #e5e3e3;
}
.slider-toggle {
    display: flex;
    list-style: none;
}
.slider-toggle__item + .slider-toggle__item {
    margin-left: 8px;
}
.slider-toggle__button {
    display: block;
    width: 12px;
    height: 12px;
    padding: 0;
    border: none;
    border-radius: 50%;
    background-color: #ddd;
    cursor: pointer;
}
.slider-toggle__button_active {
    background-color: #9b9b9b;
}
.slider-item {
    font-weight: 300;
}
/*.slider-item__star {
    margin: 50px 0;
    position: relative;
    display: block;
    color: red;
    width: 0;
    height: 0;
    border-right:  100px solid transparent;
    border-bottom: 70px  solid red;
    border-left:   100px solid transparent;
    -moz-transform:    rotate(35deg);
    -webkit-transform: rotate(35deg);
    -ms-transform:     rotate(35deg);
    -o-transform:      rotate(35deg);
}
.slider-item__star::before {
    border-bottom: 80px solid red;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    position: absolute;
    height: 0;
    width: 0;
    top: -45px;
    left: -65px;
    display: block;
    content: '';
    -webkit-transform: rotate(-35deg);
    -moz-transform:    rotate(-35deg);
    -ms-transform:     rotate(-35deg);
    -o-transform:      rotate(-35deg);

}
.slider-item__star::after {
    position: absolute;
    display: block;
    color: red;
    top: 3px;
    left: -105px;
    width: 0px;
    height: 0px;
    border-right: 100px solid transparent;
    border-bottom: 70px solid red;
    border-left: 100px solid transparent;
    -webkit-transform: rotate(-70deg);
    -moz-transform:    rotate(-70deg);
    -ms-transform:     rotate(-70deg);
    -o-transform:      rotate(-70deg);
    content: '';
}*/
/* end block-3 */




/* end main */


